{% extends 'layout.html' %}

{% block content %}
	<div class='container'>
		<a href="https://github.com/manrajpannu/quacker">
			<h1 id="visualize-twitter" >Quacker</h1>
		</a>

		<h4 style="padding-top: 20px;">Quacker is a a full-stack twitter clone</h4>

		<p>A beginner project using the following stack:</p>

		<ul>
			<li>Python</li>
			<li>Flask</li>
			<li>HTML/CSS</li>
		</ul>
		<h4 style="padding-top: 20px;">Features</h4>
		<ul>
			<li>Login and Register a unique account and stores it into a database.</li>
			<li>Passwords stored as a hash using python bcrpyt library.</li>
			<li>Able to create new posts which has Title, Body, Timestamp.</li>
			<li>Used BeautifulSoup, datetime, json modules to scrape twitter for relevant images.</li>
		</ul>	

		
		<h4 style="padding-top: 20px;">What I learned:</h4>

		<ul>
			<li>How to store, retrieve information inside a database.</li>
			<li>How to create objects structures for users and posts.</li>
			<li>Flash screen when user inputs wrong information in register field.</li>
			<li>Using Bootstrap and HTML/CSS to create User interfaces.</li>
		</ul>		

	</div>

{% endblock content %}
